<div id="scheduled-rentals">
  <h2>Locações Agendadas</h2>
  
    <%= render partial: 'rentals/rental', locals: { rentals: @scheduled_rentals } %>
  
</div>
<hr style="height: 1.5px; background-color: #ff0000; border: none;">
<div id="active-rentals">
  <h2>Locações em Andamento</h2>
  
    <%= render partial: 'rentals/rental', locals: { rentals: @active_rentals } %>
  
</div>

<hr style="height: 1.5px; background-color: #ff0000; border: none;">
<div id="maintenance">
  <h2>Carros em manutenção</h2>
  
  <div class="row">
    <div class="col-sm">
      <%= render partial: 'cars/car', locals: { cars: @cars_on_maintenance } %>
    </div>
  </div>
  
</div>

