<h3>Carro(s) Agendado(s)</h3>

<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <h4>Descrição</h4>
    </div>
    <div class="col">
      <h4>Previsão Retirada</h4>
    </div>
    <div class="col">
      <h4>Previsão Devolução</h4>
    </div>
  </div>

  <% @scheduled_cars.each do |scheduled_car| %>
    <div class="row">
      <div class="col">
        <p><%= link_to scheduled_car.car.car_identification, rental_path(scheduled_car.id) %></p>
      </div>
      <div class="col">
        <p><%= scheduled_car.scheduled_start.strftime("%d/%m/%Y") %></p>
      </div>
      <div class="col">
        <p><%= scheduled_car.scheduled_end.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
  <% end %>
</div>